{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-4" style="margin-top: 5%; margin-bottom: 3%;">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
            <a class="card-title" href="{% url 'app:detail' pk=product.pk %}">{{ product.name }}</a>
            <p class="card-text">{{product.description}}</p>
            <a href="{% url 'basket:add_to_basket' pk=product.pk %}" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'basket:get_basket' %}"  style="margin-left:40%" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Оформить</button>
      </form>
        </div>
    </div>

        </div>
    </div>
</div>
{% endblock %}