{% extends 'base.html' %}

{% block content %}
<div class ='row'>
  <div class ='col-8' style="margin-left: 15%; margin-right: 5%;">
    <div class="card mb-3">
      <img src="{{product.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text"><small class="text-muted">{{product.Category}}</small></p>
        <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
      </div>
    </div>

  </div>
  <div class="row">
    {% for comment in product.comments.all %}
    <div class="col-12">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem; margin-left: 40%;">
        <div class="card-header">{{comment.title}}</div>
        <div class="card-body">
          <h5 class="card-title">{{comment.user.username}}</h5>
          <p class="card-text">{{comment.text}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

    {% if request.user.is_authenticated %}
      <form action="{% url 'profiles:add_comment' pk=product.pk %}"  style="margin-left:40%" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Создать</button>
      </form>
    {% endif %}
</div>
{% endblock %}